<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bank{% endblock %}</title>
        <meta name=viewport content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/app/main.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">Bank</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {%  if (is_granted('IS_AUTHENTICATED_FULLY')) %}
                        {% if(is_granted('ROLE_ADMIN')) %}
                            <li><a href="{{ path('admin') }}">Edit Accounts</a></li>
                        {% else %}
                            <li><a href="{{ path('accounts_index') }}">Accounts</a></li>
                        {% endif %}
                    {% endif  %}
                </ul>

                {%  if (is_granted('IS_AUTHENTICATED_FULLY')) %}
                <ul class="nav navbar-nav pull-right">
                    <li><a href="{{ path('security_logout') }}">Logout</a></li>
                </ul>
                {% endif %}
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info" style="margin-top:10px;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ flash_message }}
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

        {% block body %}{% endblock %}
        <script type="text/javascript" src="{{ asset('assets/jquery-2.2.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/bootstrap/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/jquery.number.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
