{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Edit accounts</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post">
                <div class="form-group">
                    <input name="s" value="{{ search }}" type="text" placeholder="Search for user" class="form-control"  />
                </div>
                <input type="submit" name="search" value="Search" class="btn btn-info" />

            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px;">
            {% if accounts|length == 0 %}
                <h2 class="text-center">No results</h2>
            {% else %}
                <form name="accountsForm" action="?s={{ search }}" method="post">

            <table class="table table-bordered">

            {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.balance }}</td>
                <td>
                    <div class="form-group">
                    <input name="account[{{ account.id }}][amount]" class="form-control" data-behaviour="formated_decimal_2" />
                    </div>
                </td>
                <td>
                    <input type="submit" name="account[{{ account.id }}][method]" value="Add" class="btn btn-success" />
                    <input type="submit" name="account[{{ account.id }}][method]" value="Remove" class="btn btn-danger">
                    <input type="hidden" name="account[{{ account.id }}][id]" value="{{ account.id }}" />
                </td>
            </tr>
            {% endfor %}
            </table>
                </form>

            {% endif %}


        </div>
    </div>
</div>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script>
         $(document).ready(function () {
             $('[data-behaviour="formated_decimal_2"]').number(true, 2, '.', '');
         });
     </script>
 {% endblock %}