{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Accounts</h2>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                        <th>Last Updated At</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bankAccount in bankAccounts %}
                        <tr>
                            <td>{{ bankAccount.name }}</td>
                            <td>{{ bankAccount.balance }}</td>
                            <td>{% if bankAccount.updatedAt %}{{ bankAccount.updatedAt|date('d.m.Y H:i:s') }}{% endif %}</td>
                            <td>
                                <a href="{{ path('transactions_for_account', { 'account': bankAccount.id }) }}" class="btn btn-primary">Transactions
                                    Log</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('transactions_new') }}" class="btn btn-success">Create new transaction</a>
                <a href="{{ path('accounts_new') }}" class="btn btn-primary">Add new account</a>
            </div>
        </div>
    </div>

{% endblock %}
