{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Create new account</h2>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Create" class="btn btn-primary" />
                <div class="pull-right">
                    <a href="{{ path('accounts_index') }}" class="btn btn-info">Back to the list</a>
                </div>
                {{ form_end(form) }}


            </div>
        </div>
    </div>
{% endblock %}
