{% extends 'base.html.twig' %}

{% macro transaction_type_name(type) %}
     {% set types = {'dr': 'Debit', 'cr': 'Credit', 'ref': 'Refund'} %}
   {{ types[type] }}
{% endmacro %}

{% macro transaction_type_class(type) %}
     {% set types = {'dr': 'warning', 'cr': 'success', 'ref': 'info'} %}
    class="{{ types[type] }}"
{% endmacro %}

{% macro is_refunded(transaction) %}
    {% if (transaction.parenttx != null and  transaction.parenttx.type == 'ref') and transaction.type != 'ref' %}
        <span class="label label-info">REFUNDED</span>
    {% endif %}
{% endmacro %}

{% import _self as helpers %}

{% block body %}
    <div class="container">
<div class="row">
    <div class="col-md-12">
        <h1>Transactions for "{{ account.name }}"</h1>
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                <th>Id</th>
                <th>Desciption</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>{{ knp_pagination_sortable(bankAccountTransactions, 'Created at', 'transaction.createdAt') }}</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for bankAccountTransaction in bankAccountTransactions %}
                <tr {{ helpers.transaction_type_class(bankAccountTransaction.type) }}>
                    <td><abbr title="{{ bankAccountTransaction.id }}">{{ bankAccountTransaction.id|slice(0,8) }}</abbr></td>
                    <td>{{ bankAccountTransaction.description }}</td>
                    <td>{{ bankAccountTransaction.amount }}</td>
                    <td>{{ bankAccountTransaction.balance }}</td>
                    <td>{% if bankAccountTransaction.createdAt %}{{ bankAccountTransaction.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ helpers.transaction_type_name(bankAccountTransaction.type) }}</td>
                    <td>
                        {% if is_granted('TRANSFER_REFUNDABLE', bankAccountTransaction ) %}
                        <a href="{{ path('transactions_refund', { transaction: bankAccountTransaction.id }) }}" class="btn btn-primary btn-sm">Refund</a>
                        {% endif %}
                        {% if bankAccountTransaction.parenttx %}
                        {% endif %}
                        {{ helpers.is_refunded(bankAccountTransaction)  }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(bankAccountTransactions) }}
        </div>

                <a href="{{ path('accounts_index') }}" class="btn btn-primary">Back to accounts</a>


    </div>
</div>
    </div>
{% endblock %}
