{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>New transaction</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script>
         $(document).ready(function () {
             $('[data-behaviour="formated_decimal_2"]').number(true, 2, '.', '');
         });
     </script>
 {% endblock %}