{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 75px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Sign In </strong></h3></div>
                    <div class="panel-body">
                        <form role="form" action="{{ path('security_login_check') }}" method="post">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="Enter your username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="_password" class="form-control" placeholder="Enter your password">
                            </div>
                            {% if error %}
                                <div class="alert alert-danger">{{ error.message }}</div>
                            {% endif %}
                            <button type="submit" class="btn btn-primary">Sign in</button>
                            <a href="{{ path('user_registration') }}" class="pull-right btn btn-info">Register</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}