{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 75px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Register</strong></h3></div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                            {{ form_row(form.username) }}
                            {{ form_row(form.plainPassword.first) }}
                            {{ form_row(form.plainPassword.second) }}
                            {{ form_errors(form) }}
                            <button type="submit" class="btn btn-success">Register</button>
                            <a href="{{ path('security_login_form') }}" class="pull-right btn btn-primary">Sign In</a>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}